.bgaudio{
    opacity: 0;
}

.awardlist{
    margin-top: -15%;
    opacity: 0.5;
}

.synopsis{
    width: 37% !important;
    float: left;
    text-align: left;
}

.synopsishead{
    transform: rotate(-90deg);
    color: teal;
    float: left;
    margin-top: 10%;
}

.synopsisblock{
    margin-left: -13%;
}

.director{
    margin-left: -5%;
}

.director p{
    width: 65%;
    text-align: left;
    float: right;
    padding: 1%;
}

.director img{
    width: 15%;
    margin-top: 5%;
}

.director h1{
    transform: rotate(-90deg);
    color: teal;
    float: left;
    margin-top: 20%;
    margin-left: -5%;
}

.producer{
    margin-left: -5%;
}

.producer p{
    width: 60%;
    text-align: left;
    float: right;
    padding: 1%;
}

.producer img{
    width: 15%;
    margin-top: 5%;
}

.producer h1{
    transform: rotate(-90deg);
    color: #DEEA6E;
    float: left;
    margin-top: 20%;
    margin-left: -5%;
}

.castncrew{
    margin-left: -5%;
}
 .castncrew h1{
    transform: rotate(-90deg);
    color: #20B2AA;
    float: left;
    margin-top: 25%;
    margin-left: 1%;
    text-shadow: 2px 2px black;
}

#section0 p{
    color: bisque;
    font-size: 30px;
    font-family: 'Rancho', cursive;
}

@keyframes homepage {
    from {opacity: 0;}
    to {opacity: 0.9;}
}

.homeanimation{
    animation-name: homepage;
    animation-duration: 10s;
}

.nav li{
    margin-right: -3% !important;
}

.nav {
    margin-right: -8%;
}

p{
    text-shadow: 2px 2px black;
}

.cast{
    float: right !important;
    color: teal;
    text-shadow: 1px 1px black !important;
}

.casthead{
    float: right !important;
    color: antiquewhite;
    text-shadow: 1px 1px black !important;
}

.castClass{
    display: inline-grid !important;
    float: left;
}

.crewClass{
    display: inline-grid !important;
    float: right;
}
