.bgaudio{
    opacity: 0;
}

.awardlist{
    margin-top: -15%;
    opacity: 0.5;
}

.synopsis{
    width: 37% !important;
    float: left;
    text-align: left;
}

.synopsishead{
    transform: rotate(-90deg);
    color: teal;
    float: left;
    margin-top: 10%;
}

.synopsisblock{
    margin-left: -13%;
}

.director{
    margin-left: -5%;
}

.director p{
    width: 45%;
    text-align: left;
    float: right;
}

.director img{
    width: 30%;
    margin-top: 3%;
}

.director h1{
    transform: rotate(-90deg);
    color: teal;
    float: left;
    margin-top: 20%;
    margin-left: -5%;
}

#section0 p{
    color: bisque;
    font-size: 30px;
    font-family: 'Rancho', cursive;
}

@keyframes homepage {
    from {opacity: 0;}
    to {opacity: 0.9;}
}

.homeanimation{
    animation-name: homepage;
    animation-duration: 10s;
}